.container {
    background-color: rgb(244, 210, 208) !important;
    border-radius: 25px !important;
    margin-top: 1%;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
}

.keyWord {
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
}

.badWord {
    text-align: center;
}

.buttonContainer {
    float: left;
    width: 50%;
    padding-top: 1%;
    padding-bottom: 1%;
}

.button {
    margin-left: calc(50% - 24px);
    cursor: pointer;
}

@media only screen and (max-width: 600px) {
    .container {
        width: 60%;    
    }
}