body {
    background-color: rgb(158, 174, 197);
}

.titleBox {
    width: 20%;
    margin-left: auto;
    margin-right: auto;
}

.title {
    text-align: center;
}

.floatbox {
    display: inline-block;
    width: 50%;
}

.float {
    text-align: center;
}

